.card {
  width: 479px;
  height: 479px;
  background: chartreuse;
}

.card hr {
  width: 240px;
  margin-top: 86px;
}

.card h3 {
  font-family: Larsseit;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
  width: 157px;
  padding-left: 150px;
}
